@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-height: 100vh;
  font-family: 'Geist Mono', 'Geist Mono Fallback';

  ::selection {
    background-color: rgba(224, 71, 42, 33);
    opacity: 33%;
    color: #030712;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}
